
<div class="container">

<html>
<title>W3.CSS Template</title>

<script type="text/javascript">
if (window.location.hash && window.location.hash == '#_=_') {
    if (window.history && history.pushState) {
        window.history.pushState("", document.title, window.location.pathname);
    } else {
        // Prevent scrolling by storing the page's current scroll offset
        var scroll = {
            top: document.body.scrollTop,
            left: document.body.scrollLeft
        };
        window.location.hash = '';
        // Restore the scroll offset, should be flicker free
        document.body.scrollTop = scroll.top;
        document.body.scrollLeft = scroll.left;
    }
}
</script>
<div class="center">
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Project</b></span> <span class="w3-hide-small w3-text-light-grey">Box</span></h1>
  </div>
</header>
<body>

  <!-- Project Section -->


  <!-- About Section -->
  <br>
  <br>
  <div class="w3-container w3-padding-32" id="about">
    <br>
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit, sed diam nonummy nibh euismod
        tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis
        nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    <div class="answer">
        <p>
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit
            lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
  </div>
  <input type="submit" value="READ MORE" id="readmore">
<br>
<br>



  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Clients</h3>


  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Lauren Perchitti</h3>
      <p class="w3-opacity">Casting Director</p>
      <p>Brooklyn, NY</p>
    <!--   <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Lily Levine</h3>
      <p class="w3-opacity">Architect</p>
      <p>Brooklyn, NY</p>
    <!--   <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Scout Levine</h3>
      <p class="w3-opacity">Influencer</p>
      <p>Brooklyn, NY</p>
    <!--   <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Samantha Perlstein</h3>
      <p class="w3-opacity">Attorney</p>
      <p>New York, NY</p>
    <!--   <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
  </div>



<br>
<footer class="w3-center w3-black w3-padding-16">
  <p class="notice"><%= notice %></p></footer>
    <%= yield %>
  </body>
</html>
</div>
</div>
