PROJECT #INDEX PAGE
<div class="container">
  <div class="right">



    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %>
          <p><span class="locationName<%= project.id %>"></span></p>
          <p><strong><span class="locationAddress<%= project.id %>"></strong></span></p>
          <p><a href="#" onclick="this.style.visibility='hidden'" class="js-more" data-id="<%= project.id %>">More</a></p>
    <% end %>




<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").each(function(num, el){
    $(el).on("click", function(event) {
      event.preventDefault();
      var nextId = parseInt($(el).attr("data-id"));
      $.get("/projects/" + nextId + ".json", function(data) {
        $(`.locationName${data.id}`).text(data["location"]["name"]); //AKA ProductionCompany
        $(`.locationAddress${data.id}`).text(data["location"]["address"]);
        // re-set the id to current on the link
      })
      });
    });
  });
</script>







</div>
</div>
