PROJECT #INDEX PAGE
<div class="container">
  <div class="right">

    <div id="locationIndex">
      <button class="btn btn-secondary" id="locationBtn">Locations</button>
    </div>
      <% @projects.each do |project| %>
        <h5><strong><li><%= link_to project.title, project_path(project) %></strong></h5>
          <span class="locationAddress<%= project.id %>"></span>
          <br>
          <a href="#" class="js-more" onclick="this.style.visibility='hidden'" data-id="<%= project.id %>">More</a>
          <%= button_to 'Delete', project_path(project), method: :delete, data: { confirm: "Are you sure?"} %></li>
        <br>
    <% end %>

<br>
<br>




  </div>
</div>
