<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Production</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <ul>
        <td><li><%= location.name %></li></td>
        <td><li><%= location.address %></li></td>
      </ul>
      </tr>
    <% end %>
  </tbody>
  <ul id="locationList"></ul>
</table>
  <input type="text" id="candidate"/>
<button onclick="addItem()">Add Production</button>
<button onclick="removeItem()">Remove Production</button>
<br>
